<component name="libraryTable">
  <library name="server" type="javaScript">
    <properties>
      <sourceFilesUrls>
        <item url="file://$PROJECT_DIR$/../Golden-Roleplay/node_modules/@altv/types-server/index.d.ts" />
        <item url="file://$PROJECT_DIR$/../Golden-Roleplay/node_modules/@altv/types-server/package.json" />
      </sourceFilesUrls>
    </properties>
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../Golden-Roleplay/node_modules/@altv/types-server/index.d.ts" />
      <root url="file://$PROJECT_DIR$/../Golden-Roleplay/node_modules/@altv/types-server/package.json" />
    </CLASSES>
    <SOURCES />
  </library>
</component>